.full-img {
    position: relative;
    display: block;
    width: 640px;
    height: 480px;
  }

.draggable { 
    width: 150px; 
    height: 150px; 
    padding: 0.5em;
  
  }
  .meme-txt-area {
    border:#FFF 1px dotted;
    position:absolute;
    top:0;
    left:0;
    padding: 10px;
    min-width: 200px;
    font-family: impact;
    font-size: 2.5em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0px 2px 0 #000,
    2px 0px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 2px 5px #000;
  }

  .meme-txt-area:focus {
    outline: none;
  }


  #selected-meme {
    background:#FFF;
    border:#CCC 1px solid;
    margin:20px 0px;
    display:inline-block;
    position:relative;
  }